* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tracklist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem;
    margin-top: 1.5rem;
    width: 100%;
    align-items: center;
}